.form-section {
    padding-top: 72px;
    padding-bottom: 83px;
  }
  form {
    padding: 40px;
    box-shadow: 0px 2.98px 59.57px 0px #00000014;
    border: 2px;
    border-radius: 16px;
    width: 797px;
    margin: auto;
  }
  .name-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    padding-bottom: 24px;
  }
  .name-input {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .name-input label {
    font-family: var(--text-font);
    color: var(--heading-black);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding-bottom: 8px;
  }
  .name-form input {
    width: 343px;
    height: 60px;
    padding: 0px 24px 0px 24px;
    border-radius: 72px;
    border: 1px solid;
    font-family: var(--text-font);
    color: #737865;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  .mail {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .mail label {
    font-family: var(--text-font);
    color: var(--heading-black);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    padding-bottom: 8px;
  }
  
  .formname {
    padding-bottom: 24px;
  }
  .formname label {
    font-family: var(--text-font);
    color: var(--heading-black);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    padding-bottom: 8px;
  }
  .formname input {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 60px;
    padding: 0px 24px 0px 24px;
    border-radius: 72px;
    border: 1px solid;
    font-family: var(--text-font);
    color: #737865;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 8px;
  }
  .message textarea {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 156px;
    padding: 24px 24px 0px 24px;
    border-radius: 16px;
    border: 1px solid;
    font-family: var(--text-font);
    color: #737865;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  .send-btn {
    background: var(--bg-brown);
    width: 100%;
    height: 64px;
    padding: 20px 32px 20px 32px;
    gap: 10px;
    border-radius: 118px;
    border: 1px solid;
    font-family: var(--text-font);
    color: var(--bg-white);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
  }
  /* form input end */
  
  /* customer-requrst start */
  .customer-request {
    display: flex;
    flex-direction: row;
    gap: 90px;
    justify-content: center;
    padding-bottom: 125px;
  }
  .call-info {
    font-family: var(--text-font);
    color: var(--heading-black);
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    padding-bottom: 24px;
  }
  .number {
    font-family: var(--text-font);
    color: var(--bg-brown);
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.03em;
    text-align: left;
  }
  .time {
    font-family: var(--text-font);
    color: var(--heading-black);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
  }
  