.container {
  padding-left: 150px;
  padding-right: 150px;
  width: 100%;
}
.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 20px;
  }
  .logo {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .logo h1 {
    font-family: var(--heading-font);
    color: var(--bg-light-black);
    font-size: 42.67px;
    font-style: italic;
    font-weight: 600;
    line-height: 29.33px;
    letter-spacing: -0.40000003576278687px;
    text-align: left;
  }
  nav {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  ul {
    display: flex;
    align-items: center;
    gap: 24px;
    list-style: none;
    padding-right: 158px;
  }
  .bar2 {
    text-decoration: none;
    font-family: var(--text-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: var(--heading-black);
    border-radius: 34px;
    background-color: var(--bh-hover);
    padding: 4px 16px 4px 16px;
    gap: 10px;
    border-radius: 34px;
  }
  .bar {
    text-decoration: none;
    font-family: var(--text-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: var(--heading-black);
  }
  .bar:hover {
    background: var(--bh-hover);
    border-radius: 18px;
    padding: 4px 16px;
  }
  .btn1 {
    border: 1.5px solid #2c2f24;
    border-radius: 118px;
    padding: 12px 24px;
    font-family: var(--text-font);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: right;
  }
  .btn1:hover {
    background: var(--bh-hover);
  }
  #hamburger {
    display: none;
  }
  