.container {
    padding-left: 150px;
    padding-right: 150px;
    width: 100%;
  }
footer {
    background: var(--bg-light-black);
  }
  .grid-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 120px;
  }
  .column-1 {
    width: 70%;
  }
  .white-logo {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    padding-bottom: 43px;
  }
  .white-logo img {
    color: var(--bg-white);
  }
  
  .white-logo h3 {
    font-family: var(--heading-font);
    color: var(--bg-white);
    font-size: 32.67px;
    font-style: italic;
    font-weight: 600;
    line-height: 29.33px;
    letter-spacing: -0.40000003576278687px;
    text-align: left;
  }
  
  .white-logo-text {
    font-family: var(--text-font);
    color: #adb29e;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding-bottom: 30px;
  }
  
  .social-image-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    color: var(--bg-white);
    cursor: pointer;
  }
  .media {
    width: 40px;
    height: 40px;
    background: var(--bg-brown);
    padding: 12px 12px 12px 12px;
    border-radius: 50px;
  }
  
  .column-2 {
    display: flex;
    flex-direction: row;
    gap: 100px;
    width: 100%;
  }
  .page-title {
    font-family: var(--text-font);
    color: var(--bg-white);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    padding-bottom: 40px;
  }
  .page-title-text p {
    font-family: var(--text-font);
    color: #dbdfd0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding-bottom: 20px;
  }
  
  .column-3 {
    width: 100%;
  }
  .right-image-insta {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  .right-image-insta-2 {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  .imfood {
    border-radius: 20px;
    padding-top: 10px;
  }
  
  .copy-write p {
    font-family: var(--text-font);
    color: #adb29e;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding-top: 130px;
    padding-bottom: 85px;
  }
  