@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
:root {
  --bg-brown: #ad343e;
  --bg-off-white: #f9f9f7;
  --bg-white: #ffff;
  --heading-black: #2c2f24;
  --bg-light-black: #474747;
  --bh-hover: #dbdfd0;
  --heading-font: "Playfair Display", serif;
  --text-font: "DM Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  max-width: 2560px;
  margin: 0 auto;
}
/* <!-- The head mail and address --> */
.container {
  padding-left: 150px;
  padding-right: 150px;
  width: 100%;
}
